.screen{
    padding-top: 90px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 82px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px;
}

#zero{
    width: 144px;
    border-radius: 30px;
    text-align: left;
    padding-left: 20px;
}

.row > div{
    width: 64px;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
    font-weight: 400px;
    color: white;
}

.num{
    background-color: #212638;
}

.op{
    background-color:#34509E;
}

#c{
   background-color: #8490FF;
}